
.englobaTudo-Modal{
   /* border: 2px solid yellow;  */
    background-color: #324973b1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.grande-modal{
    border: 2px solid yellow;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #C5B2A4;
    ;
  }

.conteiner-0-pagar{

  /* border: 2px solid rgb(13, 14, 14); */
   width: 90%;
  height: 92%;
  background-color: #f7f7f700;
   display: flex;
  flex-direction: column;
  gap: 10px; /* espaçamento vertical de 20px entre os itens */
}

.conteiner-1-pagar{
    border: 2px solid rgb(255, 0, 0);
    width: 100%;
    height: 10%;
     background-color: #F7F7F7;
     border-radius: 2%;
}


.conteiner-2-pagar{

  border: 2px solid rgb(255, 153, 0);
   width: 100%;
    height: 25%; 
    background-color: #F7F7F7;
}


.conteiner-3-pagar{

  border: 2px solid rgb(64, 255, 0);
   height: 25%; 
   background-color: #F7F7F7;
}


.conteiner-4-pagar{

  border: 2px solid rgb(11, 8, 4);
  height: 32%; 
  background-color: #F7F7F7;  
  display: flex;
  flex-direction: column;
}

.div-img-NMusuario-pagar{

  border: 2px solid rgb(128, 0, 255);
  height: 27%;
  display: flex;

}

.div-detalheEndereço-pagar{

  border: 2px solid rgb(8, 0, 255);
  height: 73%;
}

.div-img-pino-pagar{

   border: 2px solid rgb(8, 0, 255);
  height: 100%;
  width: 5%;

}

.NM-Usuario-pagar{

   border: 2px solid rgb(0, 255, 34);
  height: 100%;
  width: 95%;
}

.div-vazia-pagar{

   height: 100%;
   width: 2%;
}

.div-detalheEndereço-pagar{

    display: flex;
  flex-direction: column;
}

.div-numerocontato-pagar{

 border: 2px solid rgb(0, 255, 34);
  height: 22%;
  width: 100%;
  display: flex;
}

.div-cidade-pagar{

 border: 2px solid rgb(0, 255, 34);
  height: 22%;
  width: 100%;
  display: flex;
}

.div-estado-pagar{

 border: 2px solid rgb(0, 255, 34);
  height: 22%;
  width: 100%;
  display: flex;
}

.lebels-pagar{

font-size: 12px; 
  margin-bottom: 5px;
}
 
.inputs-pagar{

  font-size: 14px; 
  font-weight: 600;
   width: 50%;
   height: 15px;
  
}

.titulo-ProdutoSelec-pagar{

  border: 2px solid rgb(0, 255, 34);
  height: 20%;
  width: 100%;
  padding: 1%;

}

.div-img-descri-pagar{

  border: 2px solid rgb(18, 19, 18);
  height: 82%;
  width: 100%;
  display: flex;
}

.div-imagem-pagar{
 border: 2px solid rgb(227, 94, 5);
  height: 100%;
  width: 20%;
}

.div-vazia0-pagar{

  border: 2px solid rgb(38, 227, 5);
  height: 100%;
  width: 3%;
}

.descriçao-produto-pagar{
  border: 2px solid rgb(46, 5, 227);
  height: 100%;
  width: 77%;
  display: flex;
  flex-direction: column;
}

.descriçãoProduto-pagar{

  border: 2px solid rgb(227, 97, 5);
  height: 50%;
  width: 525px;
}

.preco-pagar{

  border: 2px solid rgb(46, 5, 227);
  height: 50%;
  width: 525px;

}

.titulo-detalhePG-pagar{
  border: 2px solid rgb(227, 97, 5);
  height: 18%;
  width: 100%;
  padding: 1%;

}

.div-detalhes-buttons-pagar{

  border: 2px solid rgb(227, 79, 5);
  height: 89%;
  width: 100%;
  display: flex;
  
}

.detalhe-pagar{

  border: 2px solid rgb(175, 5, 227);
  height: 100%;
  width: 60%;
}

.div-buttons-pagar{

  border: 2px solid rgb(3, 3, 3);
  height: 100%;
  width: 38%;

}

.div-vazia2-pagar{

  border: 2px solid rgb(3, 3, 3);
  height: 100%;
  width: 2%;

}

.labels-detalhe{
  font-size: 12px; 
  margin-bottom: 5px;
}

.inputs-detalhes{

   font-size: 14px; 
  font-weight: 600;
   width: 50%;
   height: 15px;

}

.botoes-container {
  display: flex;
  gap: 10px;
}

.btn-cancelar {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-cancelar:hover {
  background-color: #b91c1c;
}

.btn-confirmar {
  background-color: #324973; /* Seu tom de azul */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-confirmar:hover {
  background-color: #2a3d62; /* Tom mais escuro do mesmo azul */
}