.conteine-fino-MC2{
    border: 2px solid red ;
    width: 100%;
    height: 513px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteine-icon-nomeUsu-MC2{
    border: 2px solid purple;
    width: 100%;
    height: 15%;
    display: flex;
}

.icone-user-MC2{
    border: 2px solid yellowgreen;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-USER-MC2{
      border: 2px solid rgb(63, 50, 205);
    width: 60%;
    height: 60%;
}

.conteine-nomeUsu-MC2{
      border: 2px solid rgb(193, 88, 13);
    width: 70%;
    height: 100%;
    padding-top: 10%;
    
}
.nomeUsuario-MC2{
    border: 2px solid yellowgreen;
    text-decoration-line: none;
    color: #324973;

}

.div-LINHA1-MC2{
      border: 2px solid rgb(205, 50, 164);
    width: 100%;
    height: 1%;
    display: flex;
    justify-content: center;
}

.conteine-LINHA1-MC2{
    border: 1px solid rgb(80, 80, 84);
    width: 90%;
    height: 0%;
}

.conteine-M-F-E-MC2{
      border: 2px solid yellowgreen;
    width: 100%;
    height: 84%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    
}

.nome-minhascompras-MC2{
      border: 2px solid yellowgreen;
    text-decoration-line: none;
    color: #324973;
    
}

.nome-meusFavorito-MC2{
      border: 2px solid yellowgreen;
    text-decoration-line: none;
    color: #324973;
}

.nome-endereço-MC2{
      border: 2px solid yellowgreen;
    text-decoration-line: none;
    color: #324973;
}
