.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #32497369;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
   background-color: var( --bg-secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    min-width: 300px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.idiomas-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.idiomas-options button {
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    border-radius: 4px;
}

.idiomas-options button:hover {
    background: #f5f5f5;
}

.Selecione-idi{
  color: var(--accent-primary);
}

.BandeiraB{
    /* border: 2px solid red; */
    width: 5%;
}

.pt{
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 1rem;
}
