.modal-overlay {
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #32497369;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content1{
    /* border: 2px solid red; */
    background-color: var( --bg-secondary);
    /* padding: 25px; */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    width: 30%;
    height: 35%;
    position: relative;

}

.titulo{
    /* border: 2px solid yellowgreen; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butons-idi{
    /* border: 2px solid purple; */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4%;
}

.Selecione-idi{
  color: var(--accent-primary);
}

.pt{
    border: none;
    background-color: var(--accent-primary);
    color: var(--text-tertiary);
    width: 55%;
    height: 20%;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 650;
    transition: all 0.3s;
    font-size: 100%;

}

.pt:hover{
    background-color: var(--blue-a);
    color: var(--blue-b);
}

.en{
    border: none;
    background-color: var(--accent-primary);
    color: var(--text-tertiary);
    width: 55%;
    height: 20%;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 650;
    transition: all 0.3s;
    font-size: 100%;
}

.en:hover{
    background-color: var(--blue-a);
    color: var(--blue-b);
}

.es{
    border: none;
    background-color: var(--accent-primary);
    color: var(--text-tertiary);
    width: 55%;
    height: 20%;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 650;
    transition: all 0.3s;
    font-size: 100%;
}

.es:hover{
    background-color: var(--blue-a);
    color: var(--blue-b);
}

