:root {
    /* modo escuro */
  --dark-blue: #1E2A3A;
  --medium-blue: #2A3A4D;
  --highlight-blue: #5A8CBA;
  --light-blue: #94B2CE;
  --dark-beige: #A89987;
  --light-beige: #D4C4B4;
  --soft-white: #E0E0E0;

/* 
Exemplo de Aplicação:
Fundo: #1E2A3A
Textos Principais: #E0E0E0
Destaques (botões/links): #5A8CBA
Elementos Secundários (bordas, ícones): #A89987
Superfícies (cards, menus): #2A3A4D (um tom intermediário entre o azul e o preto)
*/

  /* modo claro */
--blue-claro: #94B2CE;
--blue-escuro: #324973;
--bege-claro: #E6D8CD;
--bege-escuro: #C5B2A4;
--branco: #F7F7F7;
--cinza: #666;



}