    .div-inclobaTudo-MF{
    background: linear-gradient(to bottom, #324973, #324973, #F7F7F7);
    border: 4px solid purple;
     border: 4px solid red;
    width: 100%;
    height: 100vh;
}

.nav-bar-MF{
border: 4px solid rgb(200, 255, 0);
    width: 100%;
    height:11%;
    
}

.conteine-black-MF{
      border: 4px solid rgb(0, 0, 0);
    width: 100%;
    height:89%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

}

.conteine-fino-MF{
    border: 4px solid rgb(9, 190, 28);
    width: 17%;
    height:80%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteine-grosso-MF{
    border: 4px solid rgb(11, 166, 233);
    width: 35%;
    height:80%;
    background-color: #D9D9D9;  
}

.conteine-icon-nomeUsu-MF{
    border: 4px solid rgb(197, 165, 22);
    width: 100%;
    height: 15%;
    display: flex;
}

.icone-user-MF{
     border: 4px solid rgb(22, 197, 95);
     width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-USER-MF{
     width: 60%;
    height: 60%;
}

.conteine-nomeUsu-MF{
    border: 4px solid rgb(22, 197, 95);
     width: 70%;
    height: 100%;
    padding-top: 7%;
}

.conteine-LINHA1-MF{
 border: 2px solid rgb(80, 80, 84);
    width: 90%;
    height: 0%;
}

.conteine-M-F-E-MF{
 border: 4px solid rgb(197, 22, 150);
    width: 100%;
    height: 85%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.nome-minhascompras-MF{
     text-decoration-line: none;
    color: #324973;
}

.nome-meusFavorito-MF{
    text-decoration-line: none;
    color: #324973;
}

.nome-endereço-MF{
    text-decoration-line: none;
    color: #324973;
}


.informação-pessoais-MF{
     border: 4px solid rgb(197, 165, 22);
    width: 100%;
    height: 15%;
    text-align: center;
    color: #324973;
    font-size: 1.3rem;
}
