.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #324973a3;
  display: flex; align-items: center; justify-content: center;
   z-index: 1000;
  cursor: pointer;
}

.modal-container {
  background: #f3a974; /* cor de fundo tipo o que você mostrou */
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 900px;
cursor: default;
}

.modal-contente{
    background-color: var(--modal-primary);
    border-radius: 8px;
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  gap: 10px;
}

.categoria-card {
  /* background: #fdf0e6; */
  border: 2px solid var(--modal-borda);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--modal-text);

}

.categoria-card .icone {
  width: 60px;
  height: 60px;
  background: #e6e6e6;
  border-radius: 50%; /* círculo */
  margin-bottom: 8px;
}
