.modal-mudar {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #324973b1;
  display: flex; align-items: center; justify-content: center;
  z-index: 1000;
}

.modal-containe0r {
    background-color: var( --bg-secondary);
  padding: 20px;
  border-radius: 12px;
  width: 60%;
  height: 70%;
  display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.editor label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}


.esquerda{
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meio{
    width: 1%;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: var(--text-primary);
}

.direita{
    /* border: 2px solid blue; */
    width: 60%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.fotoProduto{ 
  background-color: #f7f7f7;
    border: 3px solid ;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    display: inline-block;
}

.preco{
    /* border: 2px solid green; */
     position: relative;
  top: 92%;   /* distância da parte de baixo */
  left: -4%;     /* distância da esquerda */
  background: var( --buton-mudar);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  /* font-weight: bold; */
  width: 30%;
  height: 10%;
  position: sticky
  

}

.gostei{
   position: relative;
  top: 82%;  /* mesma altura do preço */
  left: 89%;   /* encostado à direita */
  background: var( --buton-mudar);
  padding: 8px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 15%;
    height: 10%;
    position: sticky
}

.preço1{
    /* border: 2px solid red; */
    background-color: var( --buton-mudar);
    color: var(--text-muda);
    width: 120%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    left: -5%;
    top: 5%;
    /* position: sticky */
    
}

.NomeProduto{
    /* border: 2px solid blue; */
    background-color: var( --buton-mudar);
    width: 70%;
    height: 90%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    /* top: -5%; */
    left: 29%;
    border-radius: 15px;
}

.NomeProduto1{
    /* border: 2px solid red; */
    width: 100%;
    height: 10%;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;

    
}



.curti{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;
}


.DescriçãoProduto{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 35%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4%;
    /* top: 5%; */
    /* border-radius: 20px; */
    /* padding: 10px; */
    overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for maior que a área */
}

.buu-oi{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 55%;
    display: flex;
}

.Mudancas{
    /* border: 2px solid green; */
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 4%;
    /* overflow-y: auto; */
}


.avaliacoes{
     /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     gap: 20px;
     position: relative;
     left: 4%;
     
}

.conteiner-mudanças{
      background-color: #f7f7f7;
    /* border: 2px solid red; */
    width: 100%;
    height: 96%;
    
}

.conteiner-avaliacoes{
      background-color: #f7f7f7;
    /* border: 2px solid blue; */
    width: 85%;
    height: 59%;
}

.Buton-carrinho{
    /* border: 2px solid purple; */
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Descrição{
    background-color: #f7f7f7;
    /* border: 2px solid orange;: */
    width: 100%;
    height: 90%;
    
}


.buton-carrinho2{
    border: 2px solid black;
    background-color: var( --buton-mudar);
    width: 95%;
    height: 80%;
    font-size: 20px;
    color: var(--text-mudar);
    border: none;
    border-radius: 5px;
}

.buton-carrinho2:hover {
    background-color: var(--accent-secondary); /* Cor do fundo ao passar o mouse */
    color: var(--text-primary); /* Cor do texto ao passar o mouse */
}


.NomeProduct{
    /* border: 2px solid red; */
    width: 71%;
    color: var(--text-mudar);
    position: relative;
    left: 5%;
    display: flex;
    align-items: center;
}


.Fto1{
    border-radius: 50%;
    width: 15%;
    height: 90%;
    position: relative;
    left: 4%;
    /* top: 5%; */
}

.User1{
    color: #324973;
}

.fot-user1{
    /* border: 2px solid black; */
    width: 100%;
    height: 25%;
display: flex;
align-items: center;

gap: 15px;
}

.Estrelas3{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 13%;
    position: relative;
    left: 2%;
}

.estrelass{
    /* border: 2px solid ; */
    width: 10%;
    height: 100%;
    position: relative;
    top: -2%;
}

.Escritas1{
   /* border: 2px solid ; */
   height: 64%; 
}

.EscritaAvalia{
    font-size: 15px;
    position: relative;
    left: 2%;
    color: #324973;
}

.DescricaoOfi{
  /* border: 2px solid red; */
  width: 90%;
    font-size: 20px;
    color: var(--modal-text);
    position: relative;
    left: 2%;
}

.inp2uts{
    /* border: 2px solid red; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.inp2ut3s{
    /* border: 2px solid red; */
    width: 100%;
    height: 20%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.oibu{
    /* border: 2px solid purple; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    top: -5%;
}

.label{
    /* border: 2px solid red; */
    width: 100%;
    height: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.TamanhoMala{
    /* border: 2px solid ; */
    width: 90%;
    height: 70%;
    position: relative;
    left: 5%;
    top: -10%;
    border-radius: 5px;
    background-color: var( --accent-tertiary);
}

.buti{
    /* background-color: var( --buton-mudar); */
    width: 95%;
    height: 80%;
    font-size: 19px;
    color: #324973;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 5%;
    top: 0%;
}

.color1{
    /* border: 2px solid yellowgreen; */
    background-color: red;
    /* width: 30%; */
    border-radius: 5px;
}

/* Esconde o radio padrão */
.oibu input[type="radio"] {
  appearance: none;      /* tira estilo padrão */
  -webkit-appearance: none;
  -moz-appearance: none;
  
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

/* cores diferentes */
.color4, .color10 {
  background-color: black;
}
.color5, .color11 {
  background-color: gray;
}
.color6, .color12 {
  background-color: red;
}

.color7, .color13 {
  background-color: yellow;
}
.color8, .color14 {
  background-color: blue;
}
.color9, .color15 {
  background-color: green;
}

/* efeito ao selecionar */
.oibu input[type="radio"]:checked {
  transform: scale(1.2);         /* aumenta a bolinha */
  border: 3px solid #fff;        /* borda clara */
  box-shadow: 0 0 5px #6b6a6a;      /* brilho */
}

.radio-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radio-input input {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color:  var(  --text-primary);
    box-shadow: inset 2px 5px 10px var(  --text-primary);
    border-radius: 50%;
    transition: .4s ease-in-out;
  }

  .radio-input input:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
  }

  .radio-input .circle {
    position: relative;
    top: 0.01em;
    left: -1.1em;
    width: 0.6em;
    height: 0.6em;
    background-color: var( --accent-secondary);
    scale: 0;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }

  .radio-input input:checked {
    box-shadow: none;
    border: 2px solid var( --accent-secondary);
  }

  .radio-input input:checked + .circle {
    transform: rotate(360deg);
    scale: 1;
  }

  .labelinput{
position: relative;
right: 3%;
color: #324973;
  }
  
 

.estampa {
  display: inline-block;
   width: 25px;
  height: 25px;
  margin: 5px;
  border: 2px solid #444;
  border-radius: 50px;
  cursor: pointer;
  /* transition: transform 0.2s; */
}

/* Estampa 1 - Listras */
.estampa-listras {
  background: repeating-linear-gradient(
    45deg,
    #000,
    #000 11px,
    #fff 10px,
    #fff 20px
  );
}

/* Estampa 2 - Bolinhas */
.estampa-bolinhas {
  background: radial-gradient(circle, #000 15%, transparent 16%) repeat;
  background-size: 15px 15px;
}



.ProdutoFot{
  /* border: 2px solid red; */
  width: 100%;
  height: 70%;
  position: relative;
  top: 10%;
}