/*DIVS*/
.cadastro-1{
    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    background-color: var(  --bg-primary);

}

.LadoEsquerdo-cadastro{
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;
    background-color: #729eba;
}

.ladoDireito-cadastro{
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;

}

.Titulo-Cadastro{
    /* border: 3px solid purple; */
    width: 100%;
    height: 15%;
}

.Inputs-Cadastro{
    /* border: 3px solid orange; */
    width: 100%;
    height: 60%;
}

.Buttons-Cadastro{
    /* border: 3px solid rgb(143, 35, 53); */
    width: 100%;
    height: 15%;
    display: flex;
}

.Termos-cadastro{
    /* border: 3px solid pink; */
    width: 100%;
    height: 10%;
}

.inputemail-Cadastro, .inputsenha-Cadastro, .inputNome-Cadastro{
    /* border: 2px solid black; */
    width: 100%;
    height: 33.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input::placeholder {
 position: relative;
  left: 10px;  /* move horizontalmente */
  top: 2px;    /* move verticalmente */
}


.butonLogar-Cadastro, 
.butoncadastrar-Cadastro{
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*TEXTOS*/

.BemVindo-cadastro{
    /* border: 2px solid yellow; */
    width: 60%;
    font-size: 40px;
    color: var(--text-primary);
    position: relative;
    top: 40%;
    left: 5%;
}



.LabelNome-Cadastro{
    font-size: 20px;
    color: var(--text-primary);
    position: relative;
    right: 32%;
    top: 1%;
    
}

.Labelemail-Cadastro{
    font-size: 20px;
    color: var(--text-primary);
    position: relative;
    right: 34.5%;
     top: 1%;
}

.Labelsenha-Cadastro{
    font-size: 20px;
    color: var(--text-primary);
    position: relative;
    right: 32%;
     top: 1%;
}

/*INPUTS*/

.Nome-Cadastro, .Email-Cadastro, .Senha-Cadastro{
    width: 75%;
    height: 40%;
    border-radius: 5px;
background-color: var(--cadastro-inputs);
border: 1px solid var(--accent-tertiary);

}

input::placeholder {
    color: var(--cinza);
    font-size: 17px;
}

input:focus {
    outline: none;
    border-color: var(--accent-tertiary);
}

/*BUTTONS*/

.ButtonLogar-Cadastro, .ButtonCadastrar-Cadastro{
    width: 50%;
    height: 40%;
    border-radius: 5px;
    background-color: var(--text-primary);
    color: #ffffff;
    font-size: 26px;
    border: none;
}

.ButtonLogar-Cadastro:hover {
    background-color: var(--accent-secondary); /* Cor do fundo ao passar o mouse */
    color: #324973; /* Cor do texto ao passar o mouse */
}


.ButtonCadastrar-Cadastro:hover {
    background-color: var(--accent-secondary); /* Cor do fundo ao passar o mouse */
    color: #324973; /* Cor do texto ao passar o mouse */
}


/*TERMO DE USO*/

.checkbox-wrapper-46{
  /* border: 2px solid red; */
  height: 30%;
  width: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
    right: 6.2%;
  
}

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-46 .cbx {    /* Adicionado */
      /* border: 2px solid black;  */
      margin: auto;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
    }

  .checkbox-wrapper-46 .cbx span {
     font-size: 19px;
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }

  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    transform: scale(1);
    /* vertical-align: middle; */
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
    
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    height: 75%;
    position: absolute;
    top: 3px;
    left: 5px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    font-size: 20px;
    content: "";
    width: 100%;
    height: 100%;
    background: #7C8D69;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #7C8D69;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #7C8D69;
    border-color: #7C8D69;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }


  /*MODAL*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #324973a2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal-content {
    background-color: var(--bg-secondary);
    height: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }

.olaMundo-Cadastro {
  /* border: 2px solid red; */
  width: 90%;
    font-size: 30px;
    color: var(--text-primary);
    position: relative;
    top: -6%;
    left: 5%;
}

.button-cadastro{
  width: 70%;
  height: 30%;
  position: relative;
    top: 9%;
    padding: 10px 20px;
    background-color: var(--accent-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
}

.Oimundo-cadastro{
  /* border: 2px solid red; */
  width: 20%;
  /* height: 20%; */
  position: relative;
  top: -2%;
}

.ilus-png{
  /* border: 2px solid red; */
  width: 100%;
  height: 99%;
}
