/*DIVS*/
.Login-1{
    /* border: 4px solid red; */
    height: 100vh;
    display: flex;

}

.LadoEsquerdo-Login{
    /* border: 2px solid blue; */
    width: 50%;
    height: 100%;
    background-color: var(--accent-secondary);
}

.ladoDireito-Login{
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;

}

.Titulo-Login{
    /* border: 3px solid purple; */
    width: 100%;
    height: 15%;
}

.Inputs-Login{
    /* border: 3px solid orange; */
    width: 100%;
    height: 60%;
}

.Buttons-Login{
    /* border: 3px solid rgb(143, 35, 53); */
    width: 100%;
    height: 25%;
    display: flex;
}

.Termos-Login{
    /* border: 3px solid pink; */
    width: 100%;
    height: 10%;
}

.inputsenha-Login, .inputNome-Login{
    /* border: 2px solid black; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.butonLogar-Login, 
.butoncadastrar-Login{
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TEXTOS*/

.BemVindo-Login{
    /* border: 2px solid yellow; */
    width: 77%;
    font-size: 40px;
    color: var(--text-primary);
    position: relative;
    top: 40%;
    left: 5%;
}


.Labelemail-Login{
    font-size: 20px;
    color: var(--text-primary);
    position: relative;
    right: 34%;
     top: 2%;
}

.Labelsenha-Login{
    font-size: 20px;
    color: var(--text-primary);
    position: relative;
    right: 34%;
     top: 2%;
}

/*INPUTS*/

.Email-Login, .Senha-Login{
    width: 75%;
    height: 30%;
    border-radius: 5px;
background-color: var(--bg-secondary);
border: 1px solid var(--accent-tertiary);

}

input::placeholder {
    color: var(--cinza);
    font-size: 17px;
}

input:focus {
    outline: none;
    border-color: var(--accent-tertiary);
}

/*BUTTONS*/

.ButtonLogar-Login, .ButtonCadastrar-Login{
    width: 50%;
    height: 30%;
    border-radius: 5px;
    background-color: var(--text-primary);
    color: var(--accent-secondary);
    font-size: 26px;
    border: none;
}

.ButtonLogar-Login:hover {
    background-color: var(--accent-secondary); /* Cor do fundo ao passar o mouse */
    color: var(--text-primary); /* Cor do texto ao passar o mouse */
}


.ButtonCadastrar-Login:hover {
    background-color: var(--accent-secondary); /* Cor do fundo ao passar o mouse */
    color: var(--text-primary);/* Cor do texto ao passar o mouse */
}



/*Modal*/


  /*MODAL*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #324973a2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal-content {
    background-color: var(--bg-secondary);
    height: 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 25%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }

.olaMundo-Cadastro {
  /* border: 2px solid red; */
  width: 90%;
    font-size: 30px;
    color: var(--text-primary);
    position: relative;
    top: -6%;
    left: 5%;
}

.button-cadastro{
  width: 70%;
  height: 30%;
  position: relative;
    top: 9%;
    padding: 10px 20px;
    background-color: var(--accent-secondary);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
}

.Oimundo-cadastro{
  /* border: 2px solid red; */
  width: 20%;
  /* height: 20%; */
  position: relative;
  top: -2%;
}