.DivTudo{
    border: 2px solid red;
    height: 100vh;
    background-color: var(--bg-secondary);
}

.NavBar{
    border: 2px solid purple;
    height: 12%;
    width: 100%;
}

.produtos{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 88%;
}

.butons{
    /* border: 2px solid blue; */
    height: 10%;
    display: flex;
    align-items: center;
    gap: 2%;
}

.titulo-alta{
    /* border: 2px solid yellowgreen; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProdutosemAlta{
    /* border: 2px solid salmon; */
    height: 75%;
}

.Section1-produtos{
    /* border: 1px solid black; */
    width: 100%;
    height: 99%;
}

.slavei{
    /* border: 2px solid chartreuse; */
    height: 148%;
    width: 100%;
    position: relative;
    top: -24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escritas-produto{
    /* border: 2px solid; */
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.products-grid{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUTTONS */
.ButtonCate{
    /* border: 2px solid red; */
    border: none;
width: 10%;
height: 50%;
border-radius: 5px;
position: relative;
left: 1%;
background-color: var(--accent-primary);
color: var(--text-tertiary);
font-size: 90%;
font-weight: 600;
}

.ButtonFiltro{
    border: 2px solid red;
    border: none;
width: 15%;
height: 50%;
border-radius: 5px;
position: relative;
left: 1%;
background-color: var(--accent-primary);
color: var(--text-tertiary);
font-size: 90%;
font-weight: 600;
}

.ButtonCate:hover{
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

.ButtonFiltro:hover {
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

.retry-btn{
    border: none ;
    height: 30px;
    width: 70%;
    position: relative;
    left: 15%;
    background-color: var(--accent-primary);
    color: #fff;
    border-radius: 6px;
}

.retry-btn:hover {
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

/* TEXTOS */
.ProdutosEmAlta{
    /* border: 2PX solid blueviolet; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message{
    /* border: 2px solid red; */
    width: 50%;
}

.loading-message{
    /* border: 2px solid red; */
    width: 50%;
}