.DivTudo{
    /* border: 2px solid red; */
    height: 100vh;
    background-color: var(--bg-secondary);
}

.NavBar{
    /* border: 2px solid purple; */
    height: 12%;
    width: 100%;
}

.produtos{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 88%;
}

.butons{
    /* border: 2px solid blue; */
    height: 10%;
    display: flex;
    align-items: center;
    gap: 2%;
}

.titulo-alta{
    /* border: 2px solid yellowgreen; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProdutosemAlta{
    /* border: 2px solid salmon; */
    height: 75%;
}

.Section1-produtos{
    /* border: 1px solid black; */
    width: 100%;
    height: 99%;
}

.slavei{
    /* border: 2px solid chartreuse; */
    height: 148%;
    width: 100%;
    position: relative;
    top: -24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escritas-produto{
    /* border: 2px solid rgb(129, 129, 255); */
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.products-grid{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* BUTTONS */
.ButtonCate{
    /* border: 2px solid red; */
    border: none;
width: 10%;
height: 50%;
border-radius: 5px;
position: relative;
left: 1%;
background-color: var(--accent-primary);
color: var(--text-tertiary);
font-size: 90%;
font-weight: 600;
}

.ButtonFiltro{
    /* border: 2px solid red; */
    border: none;
width: 15%;
height: 50%;
border-radius: 5px;
position: relative;
left: 1%;
background-color: var(--accent-primary);
color: var(--text-tertiary);
font-size: 90%;
font-weight: 600;
}

.ButtonCate:hover{
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

.ButtonFiltro:hover {
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

.retry-btn{
    border: none ;
    height: 30px;
    width: 70%;
    position: relative;
    left: 15%;
    background-color: var(--accent-primary);
    color: #fff;
    border-radius: 6px;
}

.retry-btn:hover {
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

/* TEXTOS */
.ProdutosEmAlta{
    /* border: 2PX solid blueviolet; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.error-message{
    /* border: 2px solid red; */
    width: 50%;
}

.loading-message{
    /* border: 2px solid red; */
    width: 50%;
}


.card-produto{
    /* border: 2px solid green; */
    width: 35%;
    height: 70%;
    background-color: var(--bg-primary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s;
    position: relative;
    top: -5%;
}

/* .imagem-produto{
    border: 2px solid orange;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-produto img{
    border: 2px solid purple;
    max-width: 100%;
    max-height: 100%;
} */

.info-produtos{
    /* border: 2px solid blue; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nome-categoria{
    /* border: 2px solid brown; */
    width: 100%;
    height: 20%;
    display: flex;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    gap: 5px;
}

.estoque-preco{
    /* border: 2px solid teal; */
    width: 100%;
    height: 20%;
    display: flex;
}

.nome-div{
    /* border: 2px solid red; */
    width: 50%;
}

.categoria-produto{
    /* border: 2px solid purple; */
    width: 50%;
}

.avaliação-produto{
    /* border: 2px solid orange; */
}

.product-stock{
    /* border: 2px solid green; */
    width: 70%;
    position: relative;
    top: 1%;
}

.produto-valor{
    /* border: 2px solid blueviolet; */
    width: 30%;
    font-weight: 600;
}

.button-carinho{
    /* border: 2px solid brown; */
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .button-adicionar-carrinho{
    border: 2px solid burlywood;
    height: 100%;
    width: 75%;
} */

.button-adicionar-carrinho{
    border: 2px solid red;
    border: none;
    height: 100%;
    width: 75%;
    border-radius: 2px;
position: relative;
left: 1%;
background-color: var(--accent-primary);
color: var(--text-tertiary);
font-size: 90%;
font-weight: 600;
}

.button-adicionar-carrinho:hover{
  background-color: var(--accent-secondary);
  color: var(--text-primary);
}

.nome_produto1{
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    top: -30%;
}

.category-tag1{
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    top: -25%;
    left: 35%;
}