.amarela-Produtos{
    border: 2px solid yellow;
    height: 100vh;
}

.RoxoNav-Produtos{
    /* border: 2px solid purple; */
    height: 10%;
}

.Produtos{
    border: 2px solid red;
    height: 90%;
     background-color: var(--bg-secondary);
}


.product-card{
    /* border: 2px solid; */
    background-color: var(--cadastro-bg);
    width: 100%;
    height: 95%;
}

/* No Categorias.css */
.loading {
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.error {
  text-align: center;
  padding: 20px;
  color: red;
}

.error button {
  margin-top: 10px;
  padding: 8px 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.buttons{
  /* border: 2px solid ; */
  width: 100%;
  height: 5%;
  gap: 1%;
  display: flex;
 align-items: center;
}


.btn-primary1 {
    background-color: var(--accent-primary);
    color: var(--text-tertiary);
}

.btn1 {
    height: 85%;
    width: 8%;
    position: relative;
    left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s 
ease;
}

.btn-primary2 {
    background-color: var(--accent-primary);
    color: var(--text-tertiary);
}

.btn2 {
    height: 85%;
    width: 13%;
    position: relative;
    left: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s 
ease;
}